$white: #ffffff;
$pink: #EF8094;
$pale: #F5F8FF;
$gray: #607080;
$gray2: #4C5A66;
$beige: #EEEEEE;
$violet: #3011BC;
$orange: #FE7A15;
$t-orange: rgba(254, 122, 21, 0.2);


$accordion-icon-color: white;